html {
    overflow: hidden;
    height: 100vh;
}

header,
main,
footer {
    padding-left: 240px;
}

body {
    /* overflow: hidden;
    height: 100vh; */
    background: #0c0032;
    color: #282828;
    text-shadow: 2px 2px 8px black;
    /* font-family: 'Lobster', cursive; */
    font-family: 'Open Sans Condensed', sans-serif;
    /* font-family: 'Amatic SC', cursive; */
    height: 100%;
}

.gridContainer {
    display: grid;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    /* grid-template-columns: 150px 1fr 150px;
    grid-template-rows: auto .98fr auto; */
    grid-template-rows: auto 80vh auto;
    min-height: 99vh;
    max-height: 99vh;
    /* margin: -.5rem; */
    position: relative;
}


.music {
    grid-area: main;
    justify-self: center;
    z-index: 2;
    color: White;
    text-align: center;
    margin-top: 26vh;
}

.topBar {
    color: white;
    background: linear-gradient(0deg, #190061 0%, #0c0032 20%);
    grid-area: header;
    width: 100%;
    padding: .5rem;
}

#heading {
    color: white;
    font-size: 40px;
}

.bottomBar {
    color: #3500d3;
    background: linear-gradient(180deg, #190061 0%, #0c0032 20%);
    grid-area: footer;
    width: inherit;
    padding: 1rem;
}

#visualizerContainer {
    background: black;
    grid-area: main;
    z-index: 1;
}

audio {
    margin: 0 auto;
    display: table;
}

#bar:hover,
#circle:hover,
#round:hover,
#twitterButton:hover,
#lyricsButton:hover,
.song:hover,
#bandButton:hover {
    color: white;
    cursor: pointer;
    font-size: 105%;
    text-shadow: 2px 2px 8px white;
}

.optionsButton:hover,
.songsButton:hover {
    color: white;
    cursor: pointer;
}

#twitterId1,
#twitterId2,
#twitterId3 {
    display: none;
}

#twitterIdDiv {
    grid-area: main;
    justify-self: start;
    height: 100%;
    width: 20%;
    z-index: 2;
    overflow: scroll;
    display: block;
    background: #282828;
    display: none;
}

/* #bandDiv {
    grid-area: main;
    justify-self: start;
    height: 100%;
    width: 20%;
    z-index: 2;
    overflow: scroll;
    display: block;
    background: #282828;
    display: none;
    padding: 1rem;
    color: white;
} */

#bandDiv{
    float: left;
    position: fixed;
    color: white;
    height: 5rem;
    font-size: 160%;
    word-wrap: break-word;
    display: none;
}

#bandDiv h2{
    font-size: 100%;
    margin: 0;
}

#lyricsDiv {
    grid-area: main;
    justify-self: end;
    height: 100%;
    width: 20%;
    z-index: 2;
    overflow: scroll;
    display: none;
    background: #282828;
    padding: 1rem;
    color: white;
}

#menu {
    text-align: center;
    color: #3500d3;
    margin-bottom: .2rem;
}

.options {
    grid-area: main;
    position: absolute;
    bottom: 0%;
    justify-self: center;
    height: auto;
    width: auto;
    z-index: 2;
    padding: 1rem;
    border-radius: 2rem;
    display: none;
    color: white;
    background: #240090;
}

.songList {
    grid-area: main;
    position: absolute;
    justify-self: center;
    bottom: 0%;
    height: auto;
    width: auto;
    z-index: 2;
    padding: 1rem;
    border-radius: 2rem;
    display: none;
    color: white;
    background: #240090;
}

#lyricsDiv {
    font-size: 200%;
}

/* 

@media only screen and (max-width : 992px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
} */